@if (character) {
  <section class="container-details">
    <h2 class="title-details">Detalhes</h2>

    <section class="character-info">
      <div class="character-image">
        <img src="{{ character.image }}" alt="Foto do personagem" />
      </div>

      @if(characterLocationInfo) {
        <app-infos-page-details [locationInfo]="characterLocationInfo" [character]="character"></app-infos-page-details>
      }
    </section>

    <section class="episode-info">
      <h2 class="episode-title">
        Episódios - <span>Total: {{ character.episode.length }}</span>
      </h2>

      <section class="episode-gallery">
        @for (episode of character.episode; track episode) {
          <app-box-item [total]="extractEpisodeNumber(episode)"></app-box-item>
        }
      </section>
    </section>
  </section>
  }
