@import "../../../../styles.scss";

.container {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  .box-tabela {
    width: 80%;
    max-width: 1200px;
    background-color: $table-bg;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .tabela {
      width: 100%;
      border-collapse: collapse;

      th, td {
        padding: 12px 15px;
        text-align: center;
        border-bottom: 1px solid $table-border-color;
      }

      .cabecalho-tabela {
        background-color: $primary-color;
        color: $text-color;
        font-family: $font-subtitle;
        font-weight: 600;
      }

      .corpo-tabela {
        tr {
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $table-hover-bg;
          }

          td {
            color: #333;
            font-family: $font-subtitle;
          }
        }

        .listagem-vazia {
          padding-top: 50px;
          text-align: center;
          color: red;
          font-family: $font-subtitle;
          font-weight: 500;
        }
      }
    }
  }

  @media (max-width: 950px) {
    .box-tabela {
      width: 80% !important;
      background-color: rgb(148, 148, 148);
      overflow-x: auto;

      .tabela {
        display: block;

        thead {
          display: none;
        }

        tbody {
          display: block;

          tr {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            padding: 10px;
            border-bottom: 2px solid $table-border-color;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: $table-hover-bg;
            }

            td {
              display: flex;
              justify-content: space-between;
              padding: 10px 5px;
              border-bottom: 1px solid $table-border-color;

              &::before {
                content: attr(data-label);
                flex-basis: 40%;
                text-align: left;
                font-weight: bold;
              }

              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}
