@import "../../../../styles.scss";


$table-bg: #ececec;
$table-hover-bg: #dedede;
$table-border-color: #dddddd;

.container {
  display: flex;
  justify-content: center;

  padding: 20px;

  .box-tabela {

    width: 70%;
    background-color: $table-bg;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .tabela {
      width: 100%;
      border-collapse: collapse;

      th, td {
        padding: 12px 15px;
        text-align: center;
      }

      .cabecalho-tabela {
        background-color: $primary-color;
        color: $text-color;
        font-family: $font-subtitle;
        font-weight: 600;

        th {
          border-bottom: 2px solid $table-border-color;
        }
      }

      .corpo-tabela {
        tr {
          cursor: pointer;
          border-bottom: 1px solid $table-border-color;

          &:hover {
            background-color: $table-hover-bg;
          }

          &:last-child {
            border-bottom: none;
          }
        }

        td {
          color: #333;
          font-family: $font-subtitle;
        }
      }
    }
  }
}
