<section class="container">
  <div class="box-tabela">
    <table class="tabela">
      <thead class="cabecalho-tabela">
        <tr>
          @for( column of displayedColumns; track column ) {
            <th>{{ column }}</th>
          }
        </tr>
      </thead>
      <tbody class="corpo-tabela">
        <!-- Usando @for para iterar sobre a lista de personagens -->
        @for(personagem of data; track personagem.id) {
          <tr (click)="detailsPage(personagem.id)">
            <td data-label="Id">{{ personagem.id }}</td>
            <td data-label="Nome">{{ personagem.name }}</td>
            <td data-label="Localização">{{ personagem.location.name }}</td>
            <td data-label="Espécie">{{ personagem.species }}</td>
            <td data-label="Status">{{ personagem.status }}</td>
            <td data-label="Qtd Episódios">{{ personagem.episode.length }}</td>
          </tr>
        } @empty {
          <tr cl
          ass="listagem-vazia">
            <td>
        
              Lamento, mas nenhum personagem foi encontrado!
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
