@import "../../../../styles.scss";

.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .box-loading {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    border-left: 2px solid $primary-color;

    animation: spin 1s linear infinite; /* Aplica a animação 'spin' */
  }

  .titule-loading {
    font-family: $font-title;
    font-weight: 700;
    color: $text-color;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Começa sem rotação */
    }
    100% {
      transform: rotate(360deg); /* Completa uma rotação completa (360 graus) */
    }
  }
}
