<section class="container">
  <h2>Seu Perfil</h2>
  <div class="form-perfil">
    <!-- Exibe mensagem de sucesso se o formulário foi atualizado -->
     @if(formInvalido) {
       <p  class="mensagem-sucesso">Seus dados foram alterados e salvos!</p>
     }

    <!-- Formulário de perfil -->
    <form [formGroup]="formulario" (ngSubmit)="atualizarDadosUsuario()">
      <!-- Campo Nome -->
      <div class="form-field">
        <div class="label">
          <span class="material-symbols-outlined">id_card</span>
          <label for="nomeInput">Nome</label>
        </div>
        <input formControlName="nome" id="nomeInput" type="text" placeholder="Seu nome completo">
      </div>

      <!-- Campo E-mail -->
      <div class="form-field">
        <div class="label">
          <span class="material-symbols-outlined">mail</span>
          <label for="emailInput">E-mail</label>
        </div>
        <input formControlName="email" id="emailInput" type="email" placeholder="seuemail@example.com">
      </div>

      <!-- Botão de salvar -->
      <button class="button" [ngClass]="formulario.valid ? 'button-ativado' : 'button-desativado'"
              type="submit">Salvar</button>
    </form>
  </div>
</section>
