@import '../../../styles.scss'; /* Importa variáveis de estilos globais, se necessário */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .box-image {
    flex: 1; /* Ocupa 1 unidade do flexbox */
    display: flex;
    justify-content: center;
  }

  .box-form {
    color: $text-color;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    border-left: $border-color 1px solid;


  }

  @media screen and (max-width: 768px) {
    flex-direction: column; /* Empilha os elementos verticalmente em telas menores */

    .box-image,
    .box-form {
      margin-right: 0;
      margin-bottom: 20px; /* Adiciona espaço entre os elementos empilhados */
    }
  }
}
