<section class="container">
  <div class="box-image">
    <div class="card-image">
      <img src="logo.png" alt="">
    </div>
  </div>
  <div class="box-form">
    <div class="form">
        <h2>Faça seu login!</h2>
        <form class="container-form" action="">
          <div class="container-input">
            <label  class="label-form" for="">Email</label>
            <input class="campo-form" type="text" placeholder="MeuEmail@gmail.com" name="" id="">
          </div>

          <div class="container-input">
            <label class="label-form"  for="">Senha</label>
            <input class="campo-form" type="text" placeholder="******" name="" id="">
          </div>
        </form>
        <button class="button-form" >Entrar</button>
        <a class="link-form">Faça seu cadastro aqui!</a>
    </div>

  </div>
</section>
