@import '../../../../styles.scss';

.form {
  width: 100%;
  max-width: 400px;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  .container-form {
    margin-top: 20px;

    .container-input {
      display: flex;
      flex-direction: column;
      margin-top: 15px;

      .label-form {
        font-family: $font-subtitle;
        font-weight: 500;
        text-align: left;

        .required {
          color: rgb(212, 53, 53);
        }
      }

      .campo-form {
        width: 95%;
        padding: 10px;
        border: 1px solid $textSecondary-color;
        border-radius: 8px;
        font-family: $font-subtitle;
        font-weight: 500;
        color: $textSecondary-color;

        &:focus {
          outline: none;
          border-color: $border-color; // Ajusta a cor da borda ao focar
        }
      }

      .form-error {
        font-family: $font-subtitle;
        font-weight: 400;
        color: rgb(212, 53, 53);
        text-align: start;
        font-size: 13px;
      }
    }
  }

  .link-form {
    color: $secondary-color;
    margin-top: 3px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      background: linear-gradient(60deg, $primary-color, $primary-color);
      transition: width 0.5s;
    }

    &:hover::before {
      width: 100%;
    }
  }
}
