<section class="container-menu">
  <div class="menu">
    <img (click)="irParHome()" (click)="irParHome()" class="menu-logo" src="/logo.png" alt="Logo Rick e Morty" />
    <a (click)="irParHome()" class="link-menu">Home</a>
  </div>

  <div class="options">
   <!-- <div class="searc-container">
      <input
        type="text"
        (input)="inputSearch($event)"
        (mouseenter)="expandInput()"
        (mouseleave)="collapseInput()"
        class="search-input"
        placeholder="Pesquisar..."
        [style.width]="inputWidth"
        (focus)="inputWidth = '150px'"
      />
      <div
        class="icon search-icon"
        (mouseenter)="expandInput()"
        (mouseleave)="collapseInput()"
      >
        <span class="material-symbols-outlined"> search </span>
      </div>
    </div> -->

    <div class="icon profile-icon">
      <span class="material-symbols-outlined"> person </span>
    </div>
  </div>
</section>
