<section class="container-menu">
  <div class="menu">
    <img (click)="irParaHome()" class="menu-logo" src="/logo.png" alt="Logo Rick e Morty" />
    <a (click)="irParaHome()" class="link-menu">Home</a>
  </div>

  <div class="options">
    <p class="nome-user">Olá, {{ nomeUsuario }}!</p>
    <div class="icon profile-icon" (click)="toggleMenu()">
      <span class="material-symbols-outlined">person</span>
      <app-profile-menu [isVisible]="isMenuVisible"></app-profile-menu>
    </div>
  </div>
</section>
