@import '../../../../styles.scss';

.container-menu {
  height: 40px;

  background-color: $border-card;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid;

  border-image: linear-gradient(to right, transparent, $secondary-color, transparent) 50;

  .menu {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    background: $border-card;

    .menu-logo {
      height: 100%;
      cursor: pointer;

    }

    .link-menu {
      color: $text-color;
      font-family: $font-subtitle;
      font-weight: 500;
      cursor: pointer;
      position: relative;
    }

    .link-menu::before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      background: linear-gradient(60deg, $primary-color, $secondary-color);
      transition: width 0.5s;
    }

    .link-menu:hover::before {
      width: 100%;
    }

  }

  .options {
    display: flex;
    align-items: center;

    .icon {
      margin-left: 5px;
      position: relative;

      span {
        width: 30px;
        height: auto;
        cursor: pointer;
      }
    }

    .searc-container {
      display: flex;
      position: relative;


      .search-icon {
        margin: 0;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 8px 8px 0px;

        span {

          color: #4e4d4d;
        }
      }

      .search-input {
        font-family: $font-subtitle;
        font-weight: 400;
        border-radius: 8px 0 0 8px;
        border: none;
        padding: 5px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        transition: width 0.3s ease;
      }

      .expanded {
        width: 150px; /* Largura expandida do input */
      }
    }

    .profile-icon {
      width: 30px;
      height: 30px;
      border-radius: 10px;
      background-color: $secondary-color;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        width: auto;
        color: $border-card;

      }
    }
  }
}
