@import '../../../../styles.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .box-visualizacao {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modos-visualizacao {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .filtro-status {
      position: relative;
      padding: 0 5px 0 0;
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.504);
      border-radius: 8px;
      gap: 5px;

      p {
        font-family: $font-subtitle;
        font-weight: 500;
        color: #191919;
      }

      .filtro-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        background-color: gray;
        border-radius: 5px;
        position: absolute;
        height: 100px;
        width: 120px;
        bottom: -111px;
        right: -20px;

        p {
          cursor: pointer;
          width: 100%;
          border-bottom: 1px solid #191919;
        }
      }
    }
  }

  .listagem-ativa {
    padding: 5px;
    background-color: $secondary-color;
    color: $textSecondary-color;
    cursor: pointer;
    border-radius: 8px;
  }

  .icones {
    padding: 5px;
    background-color: $primary-color;
    border-radius: 8px;
    color: $text-color;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
      color: $primary-color;
      background-color: $text-color;
    }
  }
}

.filtro-off {
  display: none;
}

@media screen and (max-width: 950px) {
  .container {
    margin: 0;
    padding: 0 5px;

    .box-visualizacao {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
