<section class="container">
  <div class="box-visualizacao">
    <div class="modos-visualizacao">
      <span (click)="exibirListagem()" class="material-symbols-outlined" [ngClass]="isListMode ? 'listagem-ativa' : 'icones'">
        view_stream
      </span>
      <span (click)="exibirTabela()" class="material-symbols-outlined" [ngClass]="!isListMode ? 'listagem-ativa' : 'icones'">
        list
      </span>
    </div>

    <div (click)="exibirMenuFiltro()" class="filtro-status">
      <span class="icones material-symbols-outlined">filter_list</span>
      <p>{{ filtroAtual }}</p>

      <div [ngClass]="isFilterMenuVisible ? 'filtro-menu' : 'filtro-off'">
        @for (filtro of filtros; track filtro) {
          <p (click)="selecionarFiltro(filtro)">{{ filtro }}</p>
        }
      </div>
    </div>
  </div>
</section>
