<section class="container">
  <div class="box-visualizacao">
    <div class="modos-visualizacao">
      <span (click)="exibirListagem()" class="material-symbols-outlined" [ngClass]="modoLista == true ? 'listagem-ativa':'icones'">
        view_stream
        </span>
        <span (click)="exibirTabela()" class=" material-symbols-outlined" [ngClass]="modoLista == false ? 'listagem-ativa':'icones'">
          list
          </span>
    </div>

    <span class="icones material-symbols-outlined">
      filter_list
      </span>
  </div>
</section>
