<section class="container-list">
  <div class="listagem-personagens">
    <div class="card-personagem">
      <div class="image-personagem">
        <img src="https://rickandmortyapi.com/api/character/avatar/4.jpeg" alt="">
      </div>


      <div class="info-personagem">
        <section class="info-texts" >
          <div class="info-persona">
            <p class="info-name" >Nome: Lucas Viana Torres</p>
            <div class="status">
              <p class="text-status">vivo</p>
              <div class="status-bolha"></div>
            </div>
          </div>
          <p class="info-location">
            Location: Earth (Replacement Dimension)
          </p>

        </section>

        <section class="cards-info">
          <div class="card-info">
            <p class="card-title">Espécie</p>
            <p class="card-subTitle">Human</p>
          </div>
          <div class="card-info">
            <p class="card-title">Episódios</p>
            <p class="card-subTitle">51</p>
          </div>
        </section>

      </div>
    </div>
  </div>
</section>
