<section class="container-list">
  <div class="listagem-personagens">

    @for ( personagem of data; track  personagem.id) {
      <div class="card-personagem">
        <div class="image-personagem">
          <img src="{{personagem.image }}" alt="">
        </div>


        <div class="info-personagem">
          <section class="info-texts" >
            <div class="info-persona">
              <p class="info-name" > {{ personagem.name }}</p>
              <div class="status">
                <p class="text-status">{{ personagem.status }}</p>
                <div class="status-bolha"></div>
              </div>
            </div>
            <p class="info-location">
              Location: {{ personagem.location.name }}
            </p>

          </section>

          <section class="cards-info">
            <div class="card-info">
              <p class="card-title">Espécie</p>
              <p class="card-subTitle"> {{ personagem.species }} </p>
            </div>
            <div class="card-info">
              <p class="card-title">Episódios</p>
              <p class="card-subTitle">{{ personagem.episode.length }}</p>
            </div>
          </section>

        </div>
      </div>

    } @empty {
      <p>carregando...</p>
    }
  </div>
</section>
